/*Estilos globales */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

/* Estilos para barra de navegación */
nav {
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding: 0 500px;
  margin-left: 27px;
  position: fixed;
  top: 5px;
  z-index: 9999;
  left: 150px;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

/* Estilos para el logotipo en la barra de navegación */
nav .logo {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
/* Estilos para el contenedor del logotipo */
.logo-container {
  top: 80;
}
/* Estilos para la imagen del logotipo */
.logo-img {
  width: 140px;
  height: auto;
  position: fixed;
  left: 15px;
  top: 15px;
}

/* Estilos para ocultar el logotipo en pantallas más pequeñas */
@media screen and (max-width: 1140px) {
  .logo-container {
    position: fixed;
    display: none; /* Ocultamos el contenedor del logotipo */
    visibility: hidden;
  }
}

/* Estilos para ocultar el logotipo en pantallas más pequeñas */
@media screen and (max-width: 900px) {
  .logo-container {
    position: fixed;
    display: none; /* Ocultamos el contenedor del logotipo */
    visibility: hidden;
  }
}

/* Estilos para los elementos de navegación */
nav .nav-items {
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
/* Estilos para el botón de registro */
.register {
  background-color: #ff5757;
  border-radius: 11px;
  height: 32px;
}
@media (max-width: 1024px) {
  .register {
    background-color: transparent;
  }
}

@media (max-width: 1140px) {
  .register {
    background-color: transparent;
  }
}

.cuenta {
  background-color: #ff5757;
  border-radius: 11px;
  height: 32px;
  visibility: hidden;
}
/* Estilos para elementos de clase 'navbar-logo' */

.navbar-logo {
  padding: 0 20px;
  height: 15px;
  width: 1px;
  height: 5px;
  padding: 0 100px;
}

/* Estilos para imágenes en general */

img {
  height: fit-content;
}

/* Estilos para los elementos de la lista en la barra de navegación */
nav .nav-items li {
  list-style: none;
  padding: 0 15px;
  white-space: nowrap; /* Evita que los elementos se dividan en varias líneas */
}

/* Estilos para los enlaces en la barra de navegación */
nav .nav-items li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
/* Estilos para los enlaces al pasar el mouse sobre ellos */
nav .nav-items li a:hover {
  color: #ff3d00;
}
/* Estilos para el formulario de búsqueda */
nav form {
  display: flex;
  height: 40px;
  padding: 2px;
  border-radius: 1px;
}
/* Estilos para el campo de búsqueda */
nav form .search-data {
  width: 88%;
  height: 145%;
  left: 30px;
  padding: 0 10px;
  color: #14181f;
  font-size: 17px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  background: white;
}
/* Estilos del ícono para el botón de búsqueda */
.image {
  position: absolute;
  left: 510px;
  top: 3%;
  width: 59px;
  height: 47px;
  font-size: 21px;
  border: none;
  border-radius: 24px;
  font-weight: 500;
}

/* Estilos para el botón de búsqueda */
nav form button {
  font-size: 25px;
  border: none;
  cursor: pointer;
  height: 20px;
  position: fixed;
  background-color: #e63600;
}

/* Estilos para el botón de búsqueda al pasar el mouse sobre él */
nav form button.image:hover {
  background: #e63600;
}

/* Estilos para los íconos de menú, cancelar y búsqueda en la barra de navegación */

nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
  display: none;
}
/* Estilos específicos para pantallas más pequeñas (max-width: 1024px) */

@media (max-width: 1024px) {
  nav {
    padding: 0 600px;
  }
}
/* Estilos específicos para pantallas aún más pequeñas (max-width: 1140px) */

@media (max-width: 1140px) {
  nav {
    padding: 0px;
  }
  /* Estilos para el logotipo en la barra de navegación en pantallas más pequeñas */

  nav .logo {
    flex: 2;
    text-align: center;
  }
  /* Estilos para los elementos de navegación en pantallas más pequeñas */

  nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 40px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  /* Estilos para los elementos de navegación cuando están activos (visible) */

  nav .nav-items.active {
    left: 0px;
  }
  /* Estilos para los elementos de la lista en la barra de navegación */

  nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }
  /* Estilos para los enlaces en la barra de navegación en pantallas más pequeñas */
  nav .nav-items li a {
    font-size: 20px;
  }
  /* Estilos para el formulario de búsqueda en pantallas más pequeñas */
  nav form {
    position: absolute;
    top: 80px;
    right: 100px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  /* Estilos para el formulario de búsqueda cuando está activo (visible) */
  nav form.active {
    top: 70px;
    opacity: 50;
    pointer-events: auto;
    left: 150px;
  }
  /* Estilos para el efecto de flecha en el formulario de búsqueda */
  nav form:before {
    position: absolute;
    content: '';
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  /* Estilos para el efecto de fondo en el formulario de búsqueda */

  nav form:after {
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #101116;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  /* Estilos para los íconos de menú, cancelar y búsqueda en la barra de navegación */

  nav .menu-icon {
    display: block;
  }

  nav .search-icon,
  nav .menu-icon span {
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide {
    display: none;
  }
  nav .cancel-icon.show {
    display: block;
  }
}
/* Estilos para el contenido principal de la página */

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
/* Estilos para el encabezado del contenido */

.content header {
  font-size: 30px;
  font-weight: 700;
}
/* Estilos para el texto principal del contenido */

.content .text {
  font-size: 30px;
  font-weight: 700;
}
/* Estilos para el espacio (margen) entre elementos */

.space {
  margin: 10px 0;
}
/* Estilos específicos para el logotipo cuando se agrega la clase 'space' */

nav .logo.space {
  color: red;
  padding: 0 5px 0 0;
}
/* Estilos responsivos para pantallas medianas (max-width: 980px) */

@media (max-width: 600px) {
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon {
    margin: 0 55px;
  }
  nav form {
    right: 30px;

    width: 1px;
  }
}
/* Estilos responsivos para pantallas muy pequeñas (max-width: 350px) */
@media (max-width: 300px) {
  nav .menu-icon,
  nav .cancel-icon,
  nav .image nav .search-icon {
    margin: 0 0px;
    font-size: 400px;
  }
  nav form {
    right: 10x;
    left: 50px;
    width: 10px;
  }
}

@media (max-width: 800px) {
  nav .menu-icon,
  nav .cancel-icon,
  nav .image nav .search-icon {
    margin: 0 55px;
    font-size: 16px;
  }
  nav form {
    right: 10x;
    left: 50px;
    width: 10px;
  }
}

@media (max-width: 1100px) {
  nav .menu-icon,
  nav .cancel-icon,
  nav .image {
    left: 130px;
    top: 15px;
    width: 20px;
    height: 27px;
  }
  nav .search-icon {
    margin: 0 45px;
  }
  nav form {
    right: 10x;
    left: 350px;
    width: 150px;
  }
}

/* Estilos para el contenedor del contenido principal */

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Estilos para el encabezado del contenido principal */

.content header {
  font-size: 30px;
  font-weight: 700;
}
/* Estilos para el texto principal del contenido */

.content .text {
  font-size: 30px;
  font-weight: 700;
}
/* Estilos para el espacio (margen) entre elementos en el contenido */
.content .space {
  margin: 10px 0;
}
