:root{
    --light: #ffffff;
}

body{
    font-family: 'League Spartan', sans-serif;
    font-weight:300;
    color: var(--light);
}

#parrafo {
    position: relative;
    top: 70vh;
}

#regis {
    position: relative;
    top: 10vh;
}

.img-form{
    position: relative;
    top: 20vh;
    width: 50px;
    height: 50px;
    right: 70vh;

}

.form-control, btn{
    min-height: 3125res;
    line-height: initial;
}
.content{
    margin-top: 60px;
   
}

footer {
    position: absolute;
     top: 129vh;
    width: calc(100%);
   
}

#footer-2 {
    margin-left: 3vh;
}